@model WebApplication.Models.ViewModels.HomeViewModel;
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	@if (Model.numberLoggedInLastMonth >0)
	{
		<p>Last Logged In: @Model.LastLoggedIn </p>
		<p>Number of logged in: @Model.numberLoggedInLastMonth</p>
	}
	else
	{
		<p>Welcome new user!</p>
	}
</div>
