@using Microsoft.AspNetCore.Identity
@using WebApplication.Areas.Identity.Data

@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<WebApplicationUser> SignInManager
@inject UserManager<WebApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<div class="text-center">
    <h1 class="display-4">Welcome @UserManager.GetUserName(User)!</h1>
    <h2>Last login:  (a) UserManager.GetLastLogin</h2>
    <h3>Logins this month:  (a) UserManager.GetNumberOfLogins (delvis implementerat men saknar triggers)</h3>
    <h4>Number of unread messages:  (??? inte heller implementerat men kräver antagligen en property till och en trigger)</h4>
    
</div>
}